* {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80vw;
}

.navbar {
    display: flex;
}

.navbar li {
    list-style: none;
    margin: 25px 12px;
}

.topleft {
    width: 50%;
}

.topright {
    width: 50%;
}

.topright img {
    height: 600px;
    width: 600px;
}

.section1 {
    max-height: 100vh;
}

.section1 h1 {
    font-size: 2rem;
}

.section2 {
    padding-left: 83px;
    padding-right: 83px;
}

.section2 h1 {
    font-size: 2rem;
}

.box {
    margin: 12px 22px;
    min-width: 15vw;
    border: 2px solid white;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}

.box ul {
    list-style: none;
    font-size: 15px;
}

.highlight {
    font-size: 1.3rem;
}

.plantable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table {
    width: 100%;
    border-collapse: collapse;
}

.section3 table th {
    width: 23vw;
    border-bottom: 2px solid white;
    padding: 15px 0;
}

.section3 table td {
    border-bottom: 2px solid white;
}


.section3 h1 {
    font-size: 2.3rem;
}

.section3 {
    padding: 73px;
}
footer{
    padding: 23px;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}