.min-h-screen{
    min-height: 100vh;
}
.bg-light{
    background-color: lightblue;
}
.font-bold{
    font-weight: bolder;
    font-size: 2.5rem;
    color: #9e6397;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.flex-col{
    flex-direction: column;
}
.LOGO{
    width: 80px;
    height: 80px;
}
.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
    color: #63b8eb;
}
.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}
.px-2{
    padding-left: 13px;
    padding-right: 13px;
}
.btn{
    padding: 6px 12px;
    border: 2px solid black;
    border-radius: 6px;
    color: white;
    background-color: #9e6397;
    cursor: pointer;
}
.overflow-hiden{
    overflow: hidden;
}
.text-center{
    text-align: center;
}
